.textbox {
  width: var(--width-full);
  height: var(--height-md);
  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  border-radius: var(--radius-sm);
  outline: none;
  font-size: var(--font-size-md);
  transition: var(--transition-default);
}

.textbox:focus {
  border-color: var(--color-secondary);
}

.textbox:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.error {
  border-color: var(--color-error);
}
