.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-xl);
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 16px;
}

.markdownEditor {
  width: 100%;
}
