.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.label {
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.textbox {
  width: 100%;
}

.errorMessage {
  color: var(--color-error);
  font-size: var(--font-size-sm);
  line-height: 1.2;
}

/* Sizes */
.xs {
  width: var(--width-xs);
}

.sm {
  width: var(--width-sm);
}

.md {
  width: var(--width-md);
}

.lg {
  width: var(--width-lg);
}

.xl {
  width: var(--width-xl);
}

.full {
  width: var(--width-full);
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
